html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    -webkit-appearance: none;
}

@font-face {
    font-family: 'Radius';
    src: url('font/radius/radius.ttf') format('truetype');
}

@font-face {
    font-family: 'Torre Farfan';
    src: url('font/torrefarfan/torrefarfan.ttf') format('truetype');
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 100vh;
}

.left-column {
    width: 40vw;
    background-image: url("img/breakfast-time.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    margin-top: calc(5rem + 5vw + 5vh);
    background-color: rgba(0, 0, 0, 0.522);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 5px 5px;
}

.logo-icon img {
    height: calc(1rem + 3vw);
}

.logo-text {
    font-family: 'Radius', Helvetica, 'Open Sans', 'Courier New', Courier, monospace;
    font-size: calc(2rem + 2vw);
    color: #ffefc1;
    text-align: center;
}

.egg-white {
    filter: invert(89%) sepia(28%) saturate(521%) hue-rotate(323deg) brightness(107%) contrast(104%);
}

.img-credit {
    background-color: rgba(0, 0, 0, 0.274);
    /* margin-top: auto; */
    text-align: center;
    font-family: Helvetica, 'Open Sans', 'Courier New', Courier, monospace;
    color: white;
    font-weight: 100;
    font-size: clamp(.5rem, 2vw, 1rem);
    padding: 5px;
}

.img-credit a,a:link,a:visited,a:focus,a:hover,a:active {
    text-decoration: none;
    color: white;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 60vw;
    background: rgb(255,200,215);
    background: linear-gradient(90deg, rgba(255,200,215,0.7035407913165266) 0%, rgba(255,227,206,0.6671262254901961) 67%, rgba(255,239,193,0.5802914915966386) 100%);
}

.intro , .email {
    font-family: 'Torre Farfan', Helvetica, 'Open Sans', 'Courier New', Courier, monospace;
    margin: 5vh 10%;
    font-size: calc(.9rem + .4vw);
}

.intro {
    margin: 5vh 10% 3vh;
}

.email {
    margin: 5vh 10% 0;
}

.order-title {
    font-family: 'Radius', Helvetica, 'Open Sans', 'Courier New', Courier, monospace;
    margin: 0 10%;
    font-size: calc(1rem + 1.5vw);
}

.required {
    margin-left: 10%;
    margin-bottom: 3vh;
    font-family: 'Torre Farfan', Helvetica, 'Open Sans', 'Courier New', Courier, monospace;
    font-size: calc(0.rem + 0.2vw);
}

.required::before {
    content: "required ";
}

.required::after {
    content: url('img/egg-fried.svg');
}

form {
    margin: 1.3rem 10% .3rem 10%;
    font-family: 'Torre Farfan', Helvetica, 'Open Sans', 'Courier New', Courier, monospace;
}

.container {
    width: calc(4rem + 30vw);
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: calc(1rem + 2vh);
    column-gap: calc(2rem + 2vw);
    margin-bottom: calc(1rem + 2vh);
}

.container div {
    position: relative;
}

.container label {
    position: absolute;
    bottom: 1.5rem;
    font-weight: 50;
    font-size: calc(0.7rem + 0.4vw);
}

.container input {
    width: calc(.6rem + 15vw);
}

input , fieldset {
    border-radius: 5px;
}

input[type="text"] , input[type="email"] , input[type="tel"] {
    box-shadow: 1px 1px 3px rgba(51, 184, 78, 0.385);
    border: 2px solid rgba(0, 0, 0, 0.374);
}

.container > div > label::after {
    margin-left: 5px;
    content: url('img/egg-fried.svg');
}

.container > div > label[for='phone']::after {
    content: '';
}

input:not(:placeholder-shown):not(:focus):invalid {
    border: 2px solid rgba(214, 60, 60, 0.671);
}

input:valid {
    border: 2px solid rgba(17, 116, 32, 0.632);
}

fieldset {
    width: calc(3rem + 31vw);
    border: 1px solid black;
    position: relative;
    margin-bottom: calc(1rem + 2vh);
    padding: calc(.2rem + 0.5vw + 0.5vh);
}

legend {
    font-family: 'Radius', Helvetica, 'Open Sans', 'Courier New', Courier, monospace;
    font-size: calc(.5rem + .3vw + .3vh);
    color: #ffd863;
    text-shadow: 0 0 5px black;
    background-image: url("img/detail-1.jpg");
    background-size: cover;
    border-radius: 5px;
    border: 1px solid black;
    padding: 4px;
}

fieldset label {
    font-size: calc(0.7rem + 0.4vw);
}

.options-container {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: calc(1rem + 1vh);
}

.description label {
    font-size: calc(0.7rem + 0.4vw);
}

textarea {
    resize: none;
    width: calc(4rem + 32vw);
    min-height: 20vh; 
}

button {
    font-family: 'Radius', Helvetica, 'Open Sans', 'Courier New', Courier, monospace;
    font-size: calc(.8rem + .4vw + .4vh);
    color: #ffd863;
    text-shadow: 0 0 3px black;
    background-image: url("img/detail-2.jpg");
    background-size: cover;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}

button:active , button:hover {
    color: transparent;
    text-shadow: none;
    background-image: url("img/detail-3.jpg");
}